Repository broker-workshop/tutorials, pull requests merged in 2021-04, with the labels that each got.

#2 Create LICENSE
  LICENSE
Labels: license

#1 adds Pitt-Google-Tutorial.ipynb
  Pitt-Google-Tutorial.ipynb
Labels: pitt-google

#3 Fink materials
  .gitignore
  fink/Fink_PrimaryLogo_WEB.jpg
  fink/MMA/MMA.ipynb
  fink/README.md
  fink/extragalactic/extragalactic.ipynb
  fink/galactic/galactic.ipynb
  fink/galactic/ml_fit.png
  fink/galactic/rrlyr_fit.png
  fink/galactic/rrlyr_search.png
  fink/interfaces/README.md
  fink/interfaces/home.png
  fink/interfaces/search.png
  fink/interfaces/skymap.png
  fink/interfaces/sn_view.png
  fink/interfaces/sso_view.png
  fink/interfaces/table.png
  fink/interfaces/tom_button.png
  fink/interfaces/tom_form.png
  fink/interfaces/topic_monitor.png
  fink/interfaces/view.png
  fink/requirements.txt
  fink/sso/sso.ipynb
  fink/sso/sso_search.png
Labels: fink

#7 Update fink/MMA/MMA.ipynb with reviewer comments
  fink/MMA/MMA.ipynb
Labels: MMA, fink

#9 Shiny README
  README.md
Labels: README

#6 Update the fink/galactic/galactic.ipynb notebook with reviewer comments.
  fink/galactic/galactic.ipynb
Labels: fink, galactic

#8 [WIP] Update fink/extragalactic/extragalactic.ipynb with reviewer comments
  fink/extragalactic/extragalactic.ipynb
Labels: extragalactic, fink
